.main-bg {
    background-image: url("../img/background_site.png");
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}

.work-bg {
    background-image: url("../img/work_image.png");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.contact-bg {
    background: green;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.9rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}