* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  }
  
  /*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  */
  
  html {
      font-size: 62.5%;
      scroll-behavior: smooth;
  }
  
  .logo {
      background-image: url('../img/encontre_se_logo_web.png');
      background-size: cover;
  }
  
  body {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      color: var(--primary-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      line-height: 2.2rem;
  }
  
  h2 {
      font-size: 2.5rem;
  }
  
  h3 {
      font-size: 5rem;
  }
  
  h4 {
      font-size: 4.5rem;
  }
  
  h5 {
      font-size: 4rem; 
  }
  
  h6 {
      font-size: 3.5rem; 
  }
  
  a {
      text-decoration: none;
  }

  p {
      padding-bottom: 1.5rem;
  }

  .responsive-table {
      overflow: hidden;
      overflow-x: auto;
  }

  table {
      min-width: 360px;
      width: 100%;
      border-collapse:collapse;
  }

  table caption {
    font-style: italic;
    font-size: 1.6rem; 
    text-align: left; 
    margin-bottom: 1rem;
  }
  
  table td, table th {
      text-align: left;
      border: 0.1rem solid var(--white-color);
      padding: 0.5rem;
  }

  tfoot td, table th{
      background: rgba(255, 255, 255, 0.2);
  }

 