.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2.4rem 1.5rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    height: 2.1rem;
    position: relative;
}

.menu ul li a::after {
    content:'';
    position: absolute;
    bottom: 0.4rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left:25%;
}
